
#doc {
	background:black;
}
#title {
	color:white;
	position: relative;
	left:210;
	font-size: 25px;
}
#logos {
	opacity: 0.2;
	position: absolute;
	top:50;
}
#calculate {
    background-color: black;
    color: white;
    width: 200;
    height: 100;
    position: relative;
    left:270;
    border-radius: 100px;
    font-size: 37px;
}
#formTitle {
	color:white;
}
#t {
	color: white;
	position: relative;
	left:250;
	font-size: 20px;
}
#result {
	color: white;
	position: relative;
	left:295;
	font-size: 20px;
}

#url {
	background: black;
    color: #FFFFFF;
    position: relative;
    left: 175;
    width:400;
}