
#doc {
	background:black;
}
#title {
	color:white;
	position: relative;
	font-size: 25px;
	font-family: "Comic Sans MS";
}
#logos {
	opacity: 0.2;
	position: absolute;
	top:50;
}
#calculate {
    background-color: black;
    color: white;
    width: 200;
    height: 100;
    position: relative;
    border-radius: 100px;
    font-size: 37px;
    font-family: "Comic Sans MS";
}
#formTitle {
	color:white;
}
#t {
	color: white;
	position: relative;
	font-size: 40px;
	font-family: "Comic Sans MS";
}
#result {
	color: white;
	position: relative;
	font-size: 100px;
	font-family: "Comic Sans MS";
}
#url {
	background: black;
    color: #FFFFFF;
    position: relative;
    font-size: 20px;
    font-family: "Comic Sans MS";
    width:400;
    height:50;
}